
body {
     margin: 0;
    padding: 0;
}



#logo {
    height: 10vw;
    width: 10vw;
    margin-left: 44vw;
    margin-top: 3vw;
}

.forsidebillede {
    position: relative;
}

#frontpic {
    width: 100%;
    height: 
}

#name {
    font-size: 0.9vw;;
    font-weight: 800;
    color: gray;
    margin-left: 43.9vw;
    text-decoration: overline;
}


/*            <!--   Menu og Dropdown->*/ 

.dropmenu {
   margin-left: 17vw;
    top: 19vw;
    position: absolute;
}

#forsidelink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 0.7vw;
padding-left: 5vw;
padding-right: 5vw;
  font-size: 3vw;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

#cvlink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 0.7vw;
padding-left: 9vw;
padding-right: 9vw;
  font-size: 3vw;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

#arbejdelink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 0.7vw;
padding-left: 6vw;
padding-right: 3vw;
  font-size: 3vw;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

.dropdown {
  position: relative;
  float: left;
}


.dropdown:hover #forsidelink {
  background-color: skyblue;
}

.dropdown:hover #cvlink {
  background-color: skyblue;
}

.dropdown:hover #arbejdelink {
  background-color: skyblue;
}


/*            <!--   Menu og Dropdown over 600px->*/ 

@media screen and (min-width: 700px) {

.dropmenu {
    left: 1vw;
    top: 18vw;
    height: 1vw;
    position: absolute;
    border-radius: 2vw;
}

#forsidelink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 1vw;
padding-left: 8vw;
padding-right: 8vw;
  font-size: 20px;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

#cvlink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 1vw;
padding-left: 11vw;
padding-right: 11vw;
  font-size: 20px;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

#arbejdelink{
  background-color: black;
  color: white;
    font-family: 'Inconsolata', monospace;
  padding: 1vw;
padding-left: 8vw;
padding-right: 8vw;
  font-size: 20px;
  border: none;
  cursor: pointer;
    text-decoration: none;
}

.dropdown {
  position: relative;
  float: left;
}


.dropdown:hover #forsidelink {
  background-color: skyblue;
}

.dropdown:hover #cvlink {
  background-color: skyblue;
}

.dropdown:hover #arbejdelink {
  background-color: skyblue;
}

}

#footerbox {
    position: absolute;
    width: 100vw;
    height: 5vw;
    top: 78vw;
    color: white;
}

#instalink {
    position: absolute;
    top: 1vw;
    left: 45vw;

}

#ig {
    height: 3vw;
}

#fblink {
    position: absolute;
    top: 1vw;
    left: 50vw;

}

#fb {
    height: 3vw;
}

#tlf {
    position: absolute;
    top: 1vw;
    left: 2vw;
    font-size: 0.9vw;
    line-height: 3.5vw;
    font-weight: 1000;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    color: black;
}

#mail {
    position: absolute;
    top: 1vw;
    left: 85vw;
    font-size: 0.9vw;
    line-height: 3.5vw;
    font-weight: 1000;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
}

#maillink {
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    color: black;
}

